x-card {
    display: block;
    box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 1rem 0.5rem;
}

x-card > *:last-child,
x-card > * > *:last-child {
    margin-bottom: 0;
}

x-comment {
    opacity: 0.5;
}

x-wip,
.warning {
    background-color: #ffeb3b;
    overflow: visible;
    padding: 0.2em;
    margin: 0 0.2em;
    border-radius: 0.2em;
    box-shadow: 0 0 2px #9d8c00;
}

x-wip sup,
.warning sup {
    opacity: 0.6;
}

x-wip {
    color: blue !important;
}

x-wip::before {
    content: "🚧";
}

x-wip sup::before {
    content: "[施工中]";
}

.warning,
.warning {
    color: red !important;
}

.warning::before {
    content: "⚠️";
}

x-theorem,
x-proof,
x-algorithm,
x-pseudo-code {
    display: block;
    margin: 0.5em 0;
}

x-theorem .theorem-label,
x-proof .proof-label {
    font-weight: bold;
    margin-right: 0.5em;
    color: darkblue;
}

x-proof > p:last-of-type {
    margin-bottom: 0;
}

x-proof .proof-qed {
    display: block;
    border: 1px solid black;
    width: 0.9em;
    height: 0.9em;
    margin: 0.3em 0.3em 0.3em auto;
}

x-ref-theorem,
x-ref-algorithm,
x-ref-figure,
x-ref-table,
x-ref-formula,
x-ref-heading {
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

x-ref-theorem .ref-theorem-label {
    color: darkblue;
}

x-algorithm .algorithm-label,
x-pseudo-code .pseudo-code-label {
    font-weight: bold;
    margin-right: 0.5em;
    color: darkgreen;
}

x-ref-algorithm .ref-algorithm-label {
    color: darkgreen;
}

img + figcaption,
table + figcaption {
    margin-top: 1em;
    font-size: 1em;
}

figure .figure-label {
    font-weight: bold;
    margin-right: 0.5em;
    color: darkmagenta;
}

x-ref-figure .ref-figure-label {
    color: darkmagenta;
}

figure .table-label {
    font-weight: bold;
    margin-right: 0.5em;
    color: darkred;
}

x-ref-table .ref-table-label {
    color: darkred;
}

table {
    display: table;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

table thead {
    border-top: 2px solid black;
}

table > thead > tr > th {
    border-bottom: 1px solid black;
}

table tbody {
    border-bottom: 2px solid black;
}

mjx-container[jax="CHTML"][display="true"] {
    overflow-x: auto;
    overflow-y: hidden;
}

.article-style p {
    text-align: justify;
}

x-formula {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

x-formula > mjx-container:first-child {
    display: block;
    flex-grow: 1;
    max-width: 100%;
}

x-formula .formula-label {
    display: block;
    white-space: nowrap;
    margin-left: auto;
    color: darkcyan;
}

x-formula .formula-label::before {
    content: "(";
    padding-right: 0.1em;
}

x-formula .formula-label::after {
    content: ")";
    padding-left: 0.1em;
}

x-ref-formula .ref-formula-label {
    color: darkcyan;
}

.heading-label {
    margin-right: 0.5em;
    color: darkslateblue;
}

x-ref-heading .ref-heading-label {
    color: darkslateblue;
}

html {
    scroll-behavior: smooth;
    font-size: unset;
}

article {
    min-width: 0;
}

.docs-toc,
.toc-top li a,
#TableOfContents li a {
    font-size: 0.9rem;
}

#TableOfContents ul {
    max-width: 100%;
}

#TableOfContents a {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.article-container {
    max-width: 840px;
}

.card-simple .article-title,
.media.stream-item .article-title {
    font-size: 1.4rem;
}

.card-simple .article-style,
.media.stream-item .article-style {
    margin-top: 2px;
    font-size: 1rem;
}

.docs-toc {
    max-width: 240px;
}

.post-nav {
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h4,
h5,
h6 {
    font-size: 1.25rem;
}

table {
    font-size: 1rem;
}
